{% extends 'base.html.twig' %}

{% block title %}{{ evenement.Name }}{% endblock %}

{% block body %}
    <h1 class="col d-flex align-items-center justify-content-center link-light text-decoration-underline">Voir les évènements</h1>

    <h2 class="d-grid gap-2 d-md-flex justify-content">
        <a class="link-primary fw-bold btn btn-primary bg-light" href="{{ path('app_admin') }}">Menu admin</a>
    </h2>
    
    <table class="table">
        <tbody>
            <tr>
                <th class="link-light text-decoration-underline">Id</th>
                <td >{{ evenement.id }}</td>
            </tr>
            <tr>
                <th class="link-light text-decoration-underline">Nom</th>
                <td>{{ evenement.Name }}</td>
            </tr>
            <tr>
                <th class="link-light text-decoration-underline">Description</th>
                <td>{{ evenement.Description }}</td>
            </tr>
            <tr>
                <th class="link-light text-decoration-underline">Lieux</th>
                <td>{{ evenement.Lieux }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content">
    <a class="link-primary fw-bold btn btn-primary bg-light" href="{{ path('app_evenement_index') }}">Retour à la liste des évènements</a>

    <a class="link-primary fw-bold btn btn-primary bg-light" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Editer l'évènement</a>

    {{ include('gestionAdmin/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
