{% extends 'base.html.twig' %}

{% block title %}ShopTattoo - Accueil
{% endblock %}

{% block body %}
    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <img id="logo">
    <a class="navbar-brand link-primary fw-bold" href="{{path('app_home')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse link-primary " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_salon')}}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_portfolio')}}">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_soin')}}">Soins & Hygiène</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_event')}}">Evènements</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_contact')}}">Contact</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> #}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="link-primary btn btn-outline-primary" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
  <div class="col d-flex align-items-center justify-content-center">
		<a class="link-primary btn btn-primary bg-light" href="{{path('app_logout')}}">Déconnexion</a>
		</div>
		{% else %}
		<div class="col d-flex align-items-center justify-content-center">
		<a class="link-secondary btn btn-primary bg-light" href="{{path('app_login')}}">Connexion</a>
		</div>
		{% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="d-grid gap-2 d-md-flex justify-content">
        <a class="link-primary fw-bold btn bg-light" href="{{ path('app_admin') }}"><img id="Admin"></a>
    </div>
{% endif %}
</nav>

<h1 id="TitreAccueil" class="col d-flex align-items-center justify-content-center">ShopTattoo</h1>


<div class="card mb-3 ms-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img id="Flora" class="img-fluid rounded-start" alt="Flora">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title link-light fst-italic">Mon histoire</h5>
        <p class="card-text fst-italic">Depuis toujours, le dessin rythme ma vie. Ayant exploré de nombreuses techniques, allant du crayon de couleur à la peinture, j’ai naturellement suivi une voie artistique. Toutefois, les méthodes enseignées au lycée André Malraux ne me convenant pas, je me suis orienté vers une formation en PAO Infographie. Malgré ma maîtrise des outils tels que Photoshop et Illustrator, des circonstances personnelles m’ont poussée à m’éloigner de mes ambitions initiales.

Avec le temps, soutenu par ma femme, mon désir de m’épanouir artistiquement s’est renforcé. Le tatouage, fusion de recherche artistique et technicité, m’a passionnée. Suite à de nombreux essais sur peau synthétique et une formation professionnelle approfondie couvrant les techniques du tatouage et les règles d’hygiène, j’ai finalement lancée mon salon à Bourges, spécialisé notamment en styles ornemental, graphique, aquarelle et réalisme.

</p>
        <p class="card-text "><medium class="link-light fst-italic fw-bold">Flora.</medium></p>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3 ms-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img id="Salon" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title link-light fst-italic">Accueil du Shop</h5>

<p class="fst-italic">Bienvenue chez Shop'Tattoo, Flora tatoueuse du département du Cher (18). Spécialisé en tatouage Dotwork, réaliste et aquarelle, Flora vous offre des designs uniques et professionnels pour satisfaire toutes vos envies artistiques.

Après des études en arts graphiques suivies d’une formation en PAO de niveau 3, Flora a transformée sa passion en métier en ouvrant son propre salon de tatouage à Bourges. La maîtrise d’une technique complexe, couplée à une spécialisation en styles ornementaux, nous place au sommet de l’art du tatouage.</p>
<a class="btn link-primary fw-bold bg-light fst-italic" href="https://www.instagram.com/elisa.esposto/?hl=fr">Instagram</a>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 ms-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img id="Salon2" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title link-light fst-italic">L'HYGIÈNE AU CENTRE DE NOS PRÉOCCUPATIONS</h5>
        <p class="card-text fst-italic">
La formation en hygiène est un aspect fondamental pour quiconque souhaite se lancer dans le métier. L’utilisation d’aiguilles à usage unique, la gestion adéquate des pigments et encres, et une connaissance approfondie du processus de cicatrisation sont essentielles pour garantir la sécurité et la satisfaction des clients.

Chez Shop'Tattoo, chaque tatouée bénéficie d’une expérience sur mesure. Si le réalisme est votre style de prédilection, attendez vous à être ébloui. La profondeur du noir et gris, l’éclat des couleurs et la précision des lignes sont à la hauteur des attentes les plus élevées.</p>
<a class="card-text"><small class="link-light fst-italic">Matériel utilisé à la vue du client.</small></a>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 ms-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img id="Salon1" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title link-light fst-italic">Mes engagements</h5>
        <ul class="card-text fst-italic">  
          <li>Être à votre écoute et réaliser un tatouage conforme à vos attentes.</li>
          <li>Vous apportez une réalisation graphique unique et personnalisée.</li>
          <li>Vous informer précisément des risques et contraintes liés au tattoo : une fiche de soins détaillée et personnalisée vous sera remise.</li>
          <li>Vous tatouer dans des conditions d’hygiène optimum : matériel stérile et/ou à usage unique, espace décontaminé entre chaque client, encres conformes à la réglementation…</li>
          <li>Vous proposer mon expérience, talentueuse, sympathiques et respectueuse de votre personne.</li>
          <li>Vous informer précisément des soins à apporter à votre tattoo pendant la cicatrisation.</li>
          <li>Vous accueillir dans des locaux propres, agréables et climatisés.</li>
          <li>ATTENTION : la bonne cicatrisation de votre tatouage est de votre responsabilité, il faut en prendre soin et suivre scrupuleusement les consignes !</li>

          <li>Shop'Tattoo est en conformité avec le décret du 19 février 2008 concernant la règlementation sur les pratiques de tatouage corporel (pour en savoir plus, voir la rubrique Hygiène et soins).</li>

        </ul>
        <p class="card-text"><small class="link-light fst-italic fw-bold"><li>Je ne réalise aucun tatouage sur les mineurs.</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}