{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1>Acceuil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acceuil.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ acceuil.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_acceuil_index') }}">back to list</a>

    <a href="{{ path('app_acceuil_edit', {'id': acceuil.id}) }}">edit</a>

    {{ include('acceuil/_delete_form.html.twig') }}
{% endblock %}
