{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}
    	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
  <img id="logo">
    <a class="navbar-brand link-primary fw-bold" href="{{path('app_home')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse link-primary " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_salon')}}">Salon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_portfolio')}}">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_soin')}}">Soins & Hygiène</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_event')}}">Evènements</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link active link-primary fst-italic" aria-current="page" href="{{path('app_render_contact')}}">Contact</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> #}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="link-primary btn btn-outline-primary" type="submit">Rechercher</button>
      </form>
    </div>
  </div>
  <div class="col d-flex align-items-center justify-content-center">
		<a class="link-primary btn btn-primary bg-light" href="{{path('app_logout')}}">Déconnexion</a>
		</div>
		{% else %}
		<div class="col d-flex align-items-center justify-content-center">
		<a class="link-secondary btn btn-primary bg-light" href="{{path('app_login')}}">Connexion</a>
		</div>
		{% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="d-grid gap-2 d-md-flex justify-content">
        <a class="link-primary fw-bold btn bg-light" href="{{ path('app_admin') }}"><img id="Admin"></a>
    </div>
{% endif %}
</nav>

<h1 id="TitreEvenement" class="col d-flex align-items-center justify-content-center">Liste des évènements</h1>

<div class="container">
<div class="row row-cols-3">
 {% for evenement in evenements %}
  <div class="col mt-3">
    <div class="card " >
      <img class="card-img-top " alt="..." style="width: 100%;background-size:cover; object-fit: contains;" src="./../../public/build/images/{{ evenement.image}}">
      <div class="card-body">
        <h5 class="card-title link-light fst-italic fw-bold">{{evenement.Name}}</h5>
        <p class="card-text fst-italic ">{{ evenement.Description}}</p>
        <p class="card-text  fst-italic fw-bold link-secondary"><small class="link-light"></small>{{ evenement.Lieux}}</p>
          <a class="link-primary fw-bold btn bg-light" target="_blank" href={{ evenement.Liens }}>Accéder au site</a>
      </div>
    </div>
 </div>
 {% endfor %}
 </div>
 </div>
{% endblock %}
